# Build artifacts
.build/
*.xcworkspace
xcuserdata/
DerivedData/

# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# Logs
*.log